//colors
$color_black_pearl_92_approx: rgba(8, 20, 30, 0.92);
$white: #fff;
$color_gallery_30_approx: rgba(238, 238, 238, 0.3);
$color_gallery_approx: #eee;
$color_curious_green_approx: #c8e6c9;
$color_green_ribbon_approx: #81c784;
$color_tory_green_approx: #43a047;
$color_dark_green_approx: #1b5e20;
$color_storm_dust_approx: #666;
$color_mountain_mist_approx: #999;
$color_fuscous_gray_approx: #555;
$color_iron_approx: #d1d5da;
$color_log_cabin_approx: #222;
$color_black_blue_approx: #061f3e;
$color_gray_blue_approx: #2c3e50;
$clole_tory_blue:#0366d6;
//fonts
$font_0: Lucida Grande;
$font_1: Lucida;
$font_2: Verdana;
$font_3: sans-serif;
$font_weight_title: 500;
//border
$radius_0: 0;
$border: none;
//box
$bs: border-box;
$pixel: 2rem;
$pixel_mobile: 1.5rem;
//translate
$vertical_center: translateY(-50%);
$horizontal_center: translateX(-50%);
$vertical_horizontal_center: translate(-50%, -50%);
//transition
$transition_ease_1: all 0.3 ease;
//transform
$origin-x: 50%;
$origin-y: 100%;
$perspective: perspective(300px);
$rotate_x: rotateX(12deg);
//background
$background_pc: url('../assets/svgs/background-web.svg') no-repeat center;
$background_mobile: url('../assets/svgs/background-mobile.svg') no-repeat center;

// max-width
$max_width: 1088px;
$max_width_mobile: 328px;

body {
    font-family: $font_0, $font_1, $font_2, $font_3;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: $background_pc;
    background-size: cover;
    * {
        box-sizing: $bs;
        margin: 0;
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
    }
}

button {
    cursor: pointer;
}

input,
button {
    outline: 0;
    -webkit-appearance:none;
}

.f-hide {
    display: none;
}


/* modal-mask */

.modal-mask {
    width: 100vw;
    height: 100vh;
    background: $color_black_pearl_92_approx;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

    .btn-close {
        position: absolute;
        top: 25px;
        right: 25px;
        background: none;
        border: none;
        font-size: 2rem;

        .icon {
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../assets/svgs/close.svg) no-repeat center;
            background-size: 1.25rem 1.25rem;
        }
    }
}


/* modal-mask-starwall */

.mask-inner-starwall {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: $origin-x $origin-y;
    transform: $perspective $rotate_x;

    .target {
        position: absolute;
        top: -2500px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;

        .content {
            padding-top: 3210px;
            padding-left: 0;
            font-size: 1.6rem;
            line-height: 1.2;
            text-align: center;
            font-family: $font_3;
            color: $color_curious_green_approx;
            animation: autoscroll 40s linear;
            li {
                display: block;
                list-style: none;
                margin: 15px 0;
            }
        }
    }
}


@keyframes autoscroll {
    to {
        margin-top: -3000px;
    }
}


/* modal-mask-auth-form */

.mask-inner-authform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $vertical_horizontal_center;
}

form {
    text-align: center;
}

input {
    display: block;
    background: $white;
    width: 18rem;
    height: 3rem;
    margin: 18px auto;
    padding: 12px;
    border: $border;
    border-radius: $radius_0;
    font-size: 1rem;
}

.btn {
    display: block;
    width: 18rem;
    height: 3rem;
    border: none;
    border-radius: $radius_0;
    background-color: $color_tory_green_approx;
    font-size: 1rem;
    color: $white;
    transition: $transition_ease_1;

    &:hover {
        background: $color_green_ribbon_approx;
    }

    &:active {
        background: $color_green_ribbon_approx;
    }

    &:focus {
        background: $color_green_ribbon_approx;
    }
}

.message {
    display: inline-block;
    position: relative;
    margin: 30px auto;
    width: 2rem;
    color: $white;

    &:before {
        content: ' ';
        position: absolute;
        top: 50%;
        width: 8rem;
        height: 1px;
        background: $color_gallery_30_approx;
        right: 2rem;
    }

    &:after {
        content: ' ';
        position: absolute;
        top: 50%;
        width: 8rem;
        height: 1px;
        background: $color_gallery_30_approx;
        left: 2rem;
    }
}


/* gaday */
.gaday {
    // padding: 4rem 2.5rem;
    padding: 4rem 0;
    margin: 0 auto;
    max-width: $max_width;
    .title {
        font-size: 2rem;
        text-align: center;
        font-weight: $font_weight_title;
        color: $color_black_blue_approx;
    }
    .contributor-info {
        display: flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        align-items: center;
        width: inherit;
        margin: 2rem 0 1rem;
        font-size: 1.4rem;
        line-height: $pixel;
        color: $color_gray_blue_approx;
        #name {
            margin-right: 10px;
        }
        .repos {
            display: flex;
        }
        .pixel-box {
            width: $pixel;
            height: $pixel;
            margin-left: 15px;
            margin-right: 5px;
        }
        .icon {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            background: url('../assets/svgs/github.svg') no-repeat center;
            background-size: 24px 24px;
        }
    }
}

.html5tooltip-box {
    background-color: $color_black_pearl_92_approx;
    border-radius: 2px;
    padding: 8px 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .15), 0 0 10px rgba(255, 255, 255, .15);
    color: $color_curious_green_approx;
    font-size: 1rem;

    .repo {
        margin-right: 6px;
        color: $white;
        font-weight: 600;
    }
}

.mosaic-wrapper {
    margin-bottom: 20px;
    .gaday-dbox {
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        // justify-content: start;
        justify-content: space-between;
        flex-direction: row;
    }

    .pixel-box {
      position: relative;
        margin: 1px;
        flex-basis: 2.85%;
        height: auto;
        // width: $pixel;
        // height: $pixel;
        fill: $color_gallery_approx !important;
        background-size: contain!important;

        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
    }
}

.level-0 {
    fill: $color_gallery_approx !important;
    background: $color_gallery_approx;
}

.level-1 {
    fill: $color_curious_green_approx !important;
    background: $color_curious_green_approx;
}

.level-2 {
    fill: $color_green_ribbon_approx !important;
    background: $color_green_ribbon_approx;
}

.level-3 {
    fill: $color_tory_green_approx !important;
    background: $color_tory_green_approx;
}

.level-4 {
    fill: $color_dark_green_approx !important;
    background: $color_dark_green_approx;
}

.owner {
    // display: table;
    width: 100%;
    height: 100%;
    padding: 0 2px;
    fill: $clole_tory_blue !important;
    background: $clole_tory_blue;

    span {
        // display: table-cell;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        word-break: break-word;
        text-align: center;
        color: $white;
        font-size: calc((100% - 2px)/2);
        cursor: default;
    }
}

.footer {
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    line-height: $pixel;
    font-size: 1rem;
    color: $color_gray_blue_approx;

    .link {
        display: flex;
        align-items: center;
        height: $pixel;
        .icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-right: 0.6rem;
        }
    }

    .link-release {
        margin-top: 10px;
        padding: 0 0.6rem;
        background-color: $clole_tory_blue;
        color: $white;
        text-decoration: none;
        .icon {
            background: url(../assets/svgs/tag.svg) no-repeat center;
            background-size: 1.25rem 1.25rem;
        }
    }

    .link-intro {
        background: none;
        margin-top: 5px;
        border:none;
        padding: 0;
        justify-content: flex-end;
        font-size: 12px;
        color: $color_gray_blue_approx;

        .icon {
            background: url(../assets/svgs/paper-plane.svg) no-repeat center;
            background-size: 1.25rem 1.25rem;
        }
    }

    .legend {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .pixel-box {
        width: $pixel;
        height: $pixel;
        margin: 0 5px;
    }
}

@media screen and(max-width: 500px) {
    html,
    body {
        font-size: 10px;
    }
    body {
        background: $background_mobile;
        background-size: cover;
    }

    .gaday {
      padding: 2rem .5rem;
      max-width: $max_width_mobile;
    }
    .gad
    ay .contributor-info .icon {
      width: 1rem;
      height: 1rem;
      background-size: 1rem 1rem;
    }

    .gaday .contributor-info {
        font-size: .6rem;
    }

    .mosaic-wrapper .pixel-box {
      flex-basis: 5%;
        // width: $pixel_mobile;
        // height: $pixel_mobile;
    }

    .gaday .contributor-info .pixel-box,
    .footer .pixel-box {
        width: $pixel_mobile;
        height: $pixel_mobile;
        margin: 0 2px;
    }
}
