<div id="authform" class="animated fadeIn mask-inner-authform" style="display:none;">
    <form>
        <input class="input" id="github-id" type="text" placeholder="Type your GitHub ID Here" />
        <button type="button" class="btn" id="btn-auth" onclick="handleAuthFormClick('contributor')">Light Up My Contributor Card</button>
        <div class="message">OR</div>
        <button type="button" class="btn" id="btn-later" onclick="handleAuthFormClick('anonymous')">Become a TiDB Contributor Later</button>
    </form>
</div>
