<div id="authform" class="animated fadeIn mask-inner-authform" style="display:none;">
    <form>
        <input class="input" id="github-id" type="text" placeholder="please fill your GitHub ID here" />
        <button type="button" class="btn" id="btn-auth" onclick="handleAuthFormClick('contributor')">LIGHT MY CONTRIBUTOR CARD</button>
        <div class="message">OR</div>
        <button type="button" class="btn" id="btn-later" onclick="handleAuthFormClick('anonymous')">JOIN TiDB CONTRIBUTOR LATER</button>
    </form>
</div>
