<div class="animated fadeIn gaday">
		<h1 class="title"> <%= `Thank you for making a difference with us`.toUpperCase() %></h1>
		<div class="contributor-info"></div>
		<div id="mosaic" class="mosaic-wrapper"></div>
		<div class="footer">
			<a href="https://pingcap.github.io/blog/2017/10/15/ga/" target="_blank" class="link link-release"><i class="icon"></i>GA Release Notes</a>
      <div class="footer-right">
        <div class="legend">
          Less
          <span class="pixel-box level-0"></span>
          <span class="pixel-box level-1"></span>
          <span class="pixel-box level-2"></span>
          <span class="pixel-box level-3"></span>
          <span class="pixel-box level-4"></span>
          More
        </div>
        <button type="button" onclick="renderStarwall()" class="link link-intro"><i class="icon"></i>Time travel with TiDB again</button>
      </div>
    </div>
</div>
