<div id="starwall" class="mask-inner-starwall" style="display:none;">
    <div class="target">
        <ul class="content">
            <li>2015/04 1st line of TiDB code</li>
            <li>2015/06 1st version of SQL Syntax Parser, Optimizer, and storage engine based on local Key-Value storage</li>
            <li>2015/07 Starting to set up the test framework and collect test cases</li>
            <li>2015/08 TiDB: compatibile with MySQL protocol and common syntaxes</li>
            <li>2015/09 TiDB: open source on Github</li>
            <li>2015/11 1st version of the distributed transactional storage engine based on HBase</li>
            <li>2015/11 Automatic Continuous Integration and test framework based on Jenkins</li>
            <li>2015/12 Starting to design TiKV, a new distributed Key-Value storage engine</li>
            <li>2016/01 1st line of TiKV code</li>
            <li>2016/03 1st version of the Raft State Machine and the implementation of the distributed transactional algorithm</li>
            <li>2016/04 TiKV: open source on Github</li>
            <li>2016/05 TiDB starting to support hash join and predicates pushdown</li>
            <li>2016/08 Starting to refactor the TiDB optimizer</li>
            <li>2016/09 Starting to use Prometheus + Grafana for real-time monitoring</li>
            <li>2016/10 TiKV starting to support asynchronous Apply to significantly improve the throughput</li>
            <li>2016/11 Decision made to use gRPC to replace the existing RPC framework</li>
            <li>2017/01 1st production use of TiDB for the OLTP scenario</li>
            <li>2017/06 TiDB gRPC accomplished</li>
            <li>2017/07 1st version of TiSpark: sitting SparkSQL on top of TiKV. Distributed HTAP made possible</li>
            <li>2017/08 The TiDB Cost Based Optimizer accomplished</li>
            <li>to be continued…</li>
        </ul>
    </div>
</div>
